.Media_Logo {
  width: 1.3rem;
  height: 1.4rem;
  object-fit: contain;
  object-position: center;
}
.Single_Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  background: #f6f7fb;
  border-radius: 50%;
}
